#background{
  background-color:#7E8D8D;}
#aboutbackground{
  background-image: url("myBackground.jpg");
}

#abouttext{
  color:red;
  background-color: black;
}
#nav-table { width:800px;}
.nav-td { width: 200px; text-align:center;}
p {
  font-size: 25px;
  text-length: 800px;
}
h1 {
  font-size: 40px;
  }

#aboutheading {
  color: red;
  background-color: black;
}

#computer {
  margin-right: 150px;
  margin-left: 150px;
}
.pictures {
  margin-right: 100px;
  margin-bottom: 30px;
}

#baseball {
  margin-bottom: 30px;
}

.textwidth {
  width: 800px;
}
